@media (max-width: 1100px) {
    
}

@media (max-width: 1045px) {
    .header__contactForm-input {
        padding: 17px 5px;
    }

    .header__contactForm-btn {
        padding: 17px 10px;
    }
} 

@media (max-width: 1000px) {
    .main__catalog {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 824px) {
    .header__nav-title {
        font-size: 30px;
    }
}

@media (max-width: 820px) {
    .header__contactForm {
        flex-wrap: wrap;
        padding: 15px 15px;
    }

    .formInner {
        flex-basis: 31%;
    }

    .header__contactForm-btn {
        align-self: normal;
    }
}

@media (max-width: 700px) {
    .main__catalog {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px) {
    .main__groupBtn {
        flex-direction: column;
        width: 100%;
    }

    .main__groupBtn-btn {
        flex-basis: 100%;
    }
}

@media (max-width: 611px) {
    .header__contactForm {
        flex-direction: row;
    }

    .formInner {
        flex-basis: 100%;
    }

}

@media (max-width: 500px) {
    .main__catalog {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 391px) {
    .header__nav-title {
        font-size: 25px;
    }
}

@media (max-width: 330px) {
    .header__nav-title {
        font-size: 20px;
    }
}